<h1><%= t('mail.notify_server_status') %></h1>

<p><%= t('mail.name') %>: <%= @server.name %></p>
<p><%= t('mail.status') %>: <%= @server.status.message %></p>
<br />
<p><%= t('mail.do_not_reply') %></p>
